#container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #303030;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero-background {
  width: 100%;
  height: 100vh;
  background: url(../images/depechemode.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: "Crimson Text";
  font-weight: 600;
  font-style: italic;
  padding-top: 15px;
}

.description {
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.stroke {
  border: 2px solid white;
  padding: 10px;
}

.blue {
  color: #5a9fc6;
}

.light-blue {
  color: #92d8e4;
}

.clearfix {
  clear: both;
}

.question {
  font-family: 'crimson text';
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  padding-right: 10px;
  float: left;
}

.content {
  width: 600px;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 25px;
}

.introduction {
  padding: 25px;
}

.faq {
  padding: 25px;
}

.break {
  width: 75%;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
}

.headshot {
  float: left;
  border-radius: 50%;
  width: 200px;
  padding: 15px;
}

.bold {
  font-weight: 700;
}

.contact {
  background-color: #C0C0C0;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 15px;
}

a {
  color: #404040;
}
